<br><br><br><h1 class="artist_label">Artists</h1><br>

<h3 class="sort_bar">Sort by:</h3>
<div class="artist_sort_options">
<%= button_to "Alphabetized", alphabetized_artist_button_path, method: :post%>
<%= button_to "Most Popular", most_popular_artist_button_path, method: :post%>
<%= button_to "Least Popular", least_popular_artist_button_path, method: :post%>
<%= button_to "Genre", by_genre_artist_button_path, method: :post%>
</div><br><br>

<% @artists.each do |artist| %>
    <div class="artist_profile">
        <figure class="flex">
            <div></div>
            <div class="image_container">
                <img src=<%= artist.img_url %>>
            </div>
            <div>
                <h2><strong><%= link_to artist.name, artist %></strong></h2>
                <h2><strong><%= artist.genre %></strong></h2>
                <h3><strong>"<%= artist.bio %>"</strong></h3>
            </div>
        </figure>
    </div>
    
<% end %>

