<h1><%= @artist.name %></h1>

<p>Genre: <%= @artist.genre %></p>
<h4>Bio: <%= @artist.bio %></h4>
<h4>Popularity: <%= @artist.popularity %></h4>
<img src=<%= @artist.img_url %>alt=<%=@artist.name%> ><br><br>
