<h1><%= @artist.name %></h1>

<h4>Genre: <%= @artist.genre %></h4>
<h4>Bio: <%= @artist.bio %></h4>
<h4>Popularity: <%= @artist.popularity %></h4>
<img class="artist_pic" src=<%= @artist.img_url %>><br><br>

<h2>Upcoming Shows:</h2>

<% @artist.concerts.each do |concert| %>
    <div><strong><%= link_to "@ #{concert.venue.name}", venue_path(concert.venue) %></strong></div>
    <div><%= concert.display_date %></div>
    <hr class="divider" width="30%" align="left">
<%end%>

<button><%= link_to "Create a Comment", new_artist_comment_path %></button>

<br><h3>Comments:</h3>
<% @artist.most_recent_comments.each do |comment| %>
    <div class="comment_container"><%= comment.content %></div>
    <div><%= comment.user.username %></div>
    <br><hr class="comment_divider" width="50%" align="left"><br>
<%end%>

