<h1><%= @artist.name %></h1>

<h4>Genre: <%= @artist.genre %></h4>
<h4>Bio: <%= @artist.bio %></h4>
<h4>Popularity: <%= @artist.popularity %></h4>
<img src=<%= @artist.img_url %>><br><br>
<h3>Upcoming Shows:</h3>
<% @artist.concerts.each do |concert| %>
    <div>@ <%= link_to concert.venue.name, venue_path(concert.venue) %></div>
    <div><%= concert.display_date %></div><br>
<%end%>
<h4>Comments:</h4>

<% @artist.most_recent_comments.each do |comment| %>
    <div><%= comment.user.username %></div>
    <div class="comment_container"><%= comment.content %></div><br>
<%end%>

