<h2>New comment on a venue</h2>
<%= form_for @venue_comment do |f| %>
    <%= f.collection_select :venue_id, @venues.alphabetized, :id, :name%><br><br>
    <%= f.label "Content:"%><br>
    <%= f.text_area :content%><br><br>
    <%= f.submit %>

<%end%>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <%end%>
<%end%>