<h1>Venues</h1><br><br><br>

<%= button_to "Alphabetized", alphabetized_venue_button_path, method: :post%>


<%= button_to "Most Popular", most_popular_venue_button_path, method: :post%>
<%= button_to "Least Popular", button_path, method: :post%>
<%= button_to "Most Popular", button_path, method: :post%>
<%= button_to "Location", button_path, method: :post%>
<%= button_to "Highest Capacity", button_path, method: :post%>
<%= button_to "Lowest Capacity", button_path, method: :post%>


<% @venues.each do |venue| %>
    <div class="image_container">
        <img src=<%= venue.img_url %>>
    </div>
    <h2><%= link_to venue.name, venue %></h2>
    <h4>Location: <%= venue.location %></h4>
    <br><hr class="divider" width="500px" align="left" ><br><br>
    
<% end %>
    