<h1>Venues</h1>

<% @venues.each do |venue| %>
    <h2><%= link_to venue.name, venue %></h2>
    <!--<p>Description: <%= venue.description %></p>-->
    <h4>Location: <%= venue.location %></h4>
    <!--<h4>Capacity: %= venue.capacity %></h4>-->
    <!--<h4>Popularity: <%= venue.popularity %></h4>-->
    <img src=<%= venue.img_url %>alt=<%=venue.name%> + "interior"><br><br>
<% end %>
    