<h1 class="artist_label">Venues</h1><br><br><br>

<h3 class="sort_bar">Sort by:</h3>
<div class="venue_sort_options">
<%= button_to "Alphabetized", alphabetized_venue_button_path, method: :post%>
<%= button_to "Most Popular", most_popular_venue_button_path, method: :post%>
<%= button_to "Least Popular", least_popular_venue_button_path, method: :post%>
<%= button_to "Location", by_location_venue_button_path, method: :post%>
<%= button_to "Highest Capacity", highest_capacity_button_path, method: :post%>
<%= button_to "Lowest Capacity", lowest_capacity_button_path, method: :post%>
</div><br><br>

<% @venues.each do |venue| %>
    <div class="venue_profile">
        <figure class="flex">
            <div></div>
            <div class="image_container">
                <img src=<%= venue.img_url %>>
            </div>
            <div>
                <h2><strong><%= link_to venue.name, venue %></strong></h2>
                <h2><strong><%= venue.location %></strong></h2>
                <h3><strong>"<%= venue.description %>"</strong></h3>
            </div>
        </figure>
    </div>
    
<% end %>
    