<h1><%= @venue.name %></h1>

<p>Description: <%= @venue.description %></p>
<h4>Location: <%= @venue.location %></h4>
<h4>Capacity: <%= @venue.capacity %></h4>
<h4>Popularity: <%= @venue.popularity %></h4>
<img src=<%= @venue.img_url %>alt=<%=@venue.name%> + "interior"><br><br>
<h3>Upcoming Shows:</h3>
<% @venue.concerts.each do |concert| %>
    <div>@ <%= link_to concert.artist.name, artist_path(concert.artist) %></div>
    <div><%= concert.display_date %></div><br>
<%end%>

<button><%= link_to "Create a Comment", new_venue_comment_path %></button>

<h4>Comments:</h4>
<% @venue.most_recent_comments.each do |comment| %>
    <div><%= comment.user.username %></div>
    <div><%= comment.content %></div><br>
<%end%>

