<br><br><h1><%= @venue.name %></h1><br><br>

<div class="comment_container">
    <h3>"<%= @venue.description %>"</h3>
    <h4>Location: <%= @venue.location %></h4>
    <h4>Capacity: <%= @venue.capacity %></h4>
    <h4>Popularity: <%= @venue.popularity %></h4>
</div><br>

<img class="venue_pic" src=<%= @venue.img_url %>><br><br>

<h2 style="font-size:40px">Upcoming Shows:</h2>

<% @venue.concerts.each do |concert| %>
    <div class="comment_container">
        <h3 style="font-size:30px"><strong> <%= link_to concert.artist.name, artist_path(concert.artist) %></strong></h3>
        <h3><%= concert.display_date %></h3>
    </div><br>
<%end%>



<br><h2>Comments:</h2>

<% @venue.most_recent_comments.each do |comment| %>
    <div class="comment_container">
        <p><%= comment.content %></p>
    </div>
    <p><strong>--- Posted by: <%= comment.user.username %></strong></p>
<%end%>

<br><button class="perma_buttons"><%= link_to "Create a Comment", new_venue_comment_path %></button><br><br>

