<h1><%= @venue.name %></h1>

<p>Description: <%= @venue.description %></p>
<h4>Location: <%= @venue.location %></h4>
<h4>Capacity: <%= @venue.capacity %></h4>
<h4>Popularity: <%= @venue.popularity %></h4>
<img src=<%= @venue.img_url %>alt=<%=@venue.name%> + "interior"><br><br>


<% @venue.most_recent_comments.each do |comment| %>
    <div><%= comment.user.name %></div>
    <div><%= comment.content %></div><br>
<%end%>

