<br><h2 style="font-size:30px"><%= link_to @concert.artist.name, artist_path(@concert.artist) %> @ <%= link_to @concert.venue.name, venue_path(@concert.venue) %></h2>
<img class="concert_pic" src=<%= @concert.artist.img_url %>><br><br>
<div class="comment_container">
    <h3>Date: <%= @concert.display_date %></h3>
    <h3><%= @concert.all_ages? %></h3>
</div><br>