<!DOCTYPE html>
<html>
  <head>
    <title>Hometune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <% if @logged_in %>
    <p>--- Welcome, <%= @user.username %>! ---</p>
    <button class="perma_buttons"><%= link_to "Main Page", hometune_path%></button>
    <button class="perma_buttons"><%= link_to "Profile", user_path(@user)%></button><br><br>
    <%= button_to "Log out", log_out_path, method: :delete%><br><br>
    <%else%>
    <%= link_to "Log in", new_login_path %>
    <%= link_to "Create Profile", new_user_path %>
  <%end%>

    <%= yield %>
  </body>
</html>
