<!DOCTYPE html>
<html>
  <head>
    <title>Hometune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <% if @logged_in %>
    Welcome, <%= @user.username %>!
    <%= button_to "Log out", log_out_path, method: :delete%>
    <button><%= link_to "Main Page", hometune_path%></button>
    <button><%= link_to "Profile", user_path(@user)%></button>
    <%else%>
    <%= link_to "Log in", new_login_path %>
    <%= link_to "Create Profile", new_user_path %>
  <%end%>

    <%= yield %>
  </body>
</html>
